[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "*"
requests = "*"
selenium = "*"
tqdm = "*"

[dev-packages]
black = "==19.3b0"
flake8 = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.7"
